@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}
.bg-checkerboard {
  background-image: 
    linear-gradient(45deg, #e5e5e5 25%, transparent 25%), 
    linear-gradient(-45deg, #e5e5e5 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #e5e5e5 75%), 
    linear-gradient(-45deg, transparent 75%, #e5e5e5 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.dark .bg-checkerboard {
  background-image: 
    linear-gradient(45deg, #262626 25%, transparent 25%), 
    linear-gradient(-45deg, #262626 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #262626 75%), 
    linear-gradient(-45deg, transparent 75%, #262626 75%);
}